extends layouts/default.pug

//- Mixins
include mixins/box-head
include mixins/pagination
include mixins/form
include mixins/filter

//- Title
block title 
    title Danh mục sản phẩm

//- Mai Title
block main
    //- box-head
    -
        var breadcrumbArray = 
        [
            "Dashboard",
            "Danh mục",
            "Danh Mục Sản Phẩm"
        ]
        
    +box-head-use-breadcrumb("DANH MỤC SẢN PHẨM", breadcrumbArray)
    //- end box-head 

    -   
        var sanPham = 
        [
            {
                title: "Trinh thám",
                img:"https://mcdn.coolmate.me/image/September2023/tieu-thuyet-trinh-tham-hay-nhat-2557_155.jpg",
                status:"active",
            },
            {
                title: "Khoa học viễn tưởng",
                img:"https://bazaarvietnam.vn/wp-content/uploads/2021/07/phim-khoa-hoc-vien-tuong-hay-nhat-moi-thoi-dai-10-e1626966924347.jpg",
                status:"active",
            },
            {
                title: "Triết học xã hội",
                img:"https://pos.nvncdn.com/fd5775-40602/ps/20240305_ewEQ8fLJGY.jpeg",
                status:"active",
            },

            {
                title: "lịch sử",
                img:"https://static.taogiaoduc.vn/2018/06/map-3409359_1920.jpg",
                status:"inactive",
            }
        ]
        //- demo filter status
    -   
        var filterStatusArray = 
        [
            {
                title: "Tất cả",
                status: "",
                class: "",
            },
            {
                title: "Hoạt động",
                status: "active",
                class: "filter__item--active",
            },
            {
                title: "Dừng hoạt động",
                status: "inactive",
                class: "",
            }
        ]

    //- demo pagination
    -   
        var paginationObject = 
        {
            totalPage: 10,
            currentPage: 7
        }

    //- card
    div(class="card")
        div(class="card__head") 
            div(class="card__head-wrap")
                //- filter
                +filter-status(filterStatusArray)
                //- left    
                div(class="card__head-left")
                    //- form search
                    +form-search("")
                //- right
                div(class="card__head-right")
                    //- add product
                    div(class="button button__outline")
                        <i class="fa-solid fa-plus"></i>
                        |   Thêm Mới
               

        div(class="card__body")
            //- table
            table(class="table") 
                thead(class="table__head")
                    tr 
                        td 
                            input(
                                type = "checkbox"
                                name=""
                                class="checkbox"
                            )
                        th Danh mục
                        th Trạng Thái
                        th 
                    
                tbody(class="table__body")
                    each item in sanPham 
                        tr 
                            td 
                                input(
                                    type = "checkbox"
                                    name=""
                                    class="checkbox"
                                )
                            td(class="table__title")
                                img(
                                    src=item.img 
                                    alt=item.title
                                )
                                h3 #{item.title}
                            
                            td 
                                if(item.status == "active")
                                    span(class="badge badge--active") Hoạt động
                                else 
                                    span(class="badge badge--inactive") Dừng hoạt động
                            td 
                                <i class="fa-solid fa-ellipsis-vertical"></i>
                    //- end table
        
        div(class="card__footer")
            div(class="card__footer-left")
            div(class="card__footer-right")
                +pagination(paginationObject)
    //- end card 


block script 
    script(src="js/script.js")

