mixin form-search(keyword)
    form(
        action ="#" 
        class  = "form form__search"
        method = "GET"  
        form-search
    )
        input(
            type="text" 
            placeholder="Tìm kiếm ở đây..." 
            class=""
            value=keyword 
        )
        button(
            type="submit" 
            class=""
        )
            i(class="fa-solid fa-magnifying-glass")


mixin form-change-status
    form(
        action="#"
        class = "hidden"
        method = "POST"
        form-change-status
    )